.no-btn-style {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

.links {
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 0.5rem;
  text-align:center;
  color: #ffffff;

  // transform: scale(1, 1.2);
}

.links a {
  color: #aaa;
  text-align:center;
  letter-spacing: 0.5rem;
  text-decoration: none;

  user-select: none;
}
.links a:hover {
  color: #ccc;
}

.title {
  @extend .links;
  top: 12px;
}

.foot {
  @extend .links;
  bottom: 12px;
}

.overlay {
	/* Height & width depends on how you want to reveal the overlay (see JS below) */
	height: 0%;
	width: 100%;
	position: fixed; /* Stay in place */
	z-index: 1;
	left: 0;
	top: 0;
	background-color: rgb(0, 0, 0); /* Black fallback color */
	background-color: rgba(0, 0, 0, 0.85); /* Black w/opacity */
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  -webkit-transition: 0.5s;
	/*text-align: center;*/

  .intro {
    max-width: 800px;
    margin: 0rem auto;

    p {
      z-index: 3;
      font-size: 2.5rem;

      @media screen and (max-width: 980px) {
        font-size: 2.0rem;
      }

      @media screen and (max-width: 560px) {
        font-size: 1.5rem;
        margin: 0rem 2rem;
      }
      text-align: center;
      font-family: monospace;
      // margin: 10rem 7rem;
      // margin: 0rem 7rem;
      color: #ffffff;

      a {
        color: white;
        font-style: italic;
      }
    }
  }

  .overlayBtn {
    z-index: 2;

    @extend .no-btn-style;
    // position: fixed;
    top: 0;
    width: 100%;
    height: 30%;
  }
}

.btn {
  @extend .no-btn-style;

  position: relative;
  padding-left: 3px;
  top: 2px;


  img {
    width: 12px;
  }
}
