.title {
  position: absolute;
  /* top: 0px; */
  top: 50%;
  width: 100%;
  /* padding: 5px; */
  font-family: Oswald, monospace;
  font-size: 1rem;
  text-align:center;
  color: #ffffff;

  transform: scale(1, 1.2);
  -webkit-transform: scale(1, 1.2); /* Safari and Chrome */
  -moz-transform: scale(1, 1.2); /* Firefox */
  -ms-transform: scale(1, 1.2); /* IE 9+ */
  -o-transform: scale(1, 1.2); /* Opera */
}

.title a {
  color: #aaa;
  text-align:center;
  letter-spacing: 0.5rem;
  text-decoration: none;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
.title a:hover {
  color: #ccc;
}
