/* Coolors Exported Palette - coolors.co/25283d-8f3985-98dfea-07beb8-efd9ce */

/* HSL */
$color1: hsla(233%, 24%, 19%, 1);
$color2: hsla(307%, 43%, 39%, 1);
$color3: hsla(188%, 66%, 76%, 1);
$color4: hsla(178%, 93%, 39%, 1);
$color5: hsla(20%, 51%, 87%, 1);

/* RGB */
$color1: rgba(37, 40, 61, 1);
$color2: rgba(143, 57, 133, 1);
$color3: rgba(152, 223, 234, 1);
$color4: rgba(7, 190, 184, 1);
$color5: rgba(239, 217, 206, 1);
$color6: rgba(247, 51, 247, 1);
$color7: rgba(15, 15, 15, 1.0);
$color8: rgba(255 ,255, 255 ,1.0);

$link-color: $color6;
